{% extends "aquiestan.html" %}
{% load static compress %}
{% block extra_css %}
    {% compress css %}
        <link type="text/x-scss"
              rel="stylesheet"
              media="screen"
              href="{% static 'css/home.scss' %}"/>
    {% endcompress %}
{% endblock extra_css%}
{% block content %}
<div class="home">
    <div class="home-left">
        <ul>
            <li>81 Hallazgos</li>
            <li>21 Colectivos colaborando</li>
        </ul>
    </div>
    <div class="home-center">
        <div class="home-body">
            <a href="/hallazgos">
            <div class="link-card">
                <h1>Registro de fosas clandestinas <br class="hidden-mobile">y hallazgos en Sonora</h1>
                <p>Aquí Están es un sitio que registra hallazgos de fosas clandestinas, cuerpos y restos de personas catalogadas como desaparecidas en el estado de Sonora.</p>
            </div>
        </a>
        </div>
        <div class="home-footer">
        <ul>
            <li><a href="#"><i class="social ig"></i></a></li>
            <li><a href="#"><i class="social tw"></i></a></li>
            <li><a href="#"><i class="social fb"></i></a></li>
        </li>
    </div>
    </div>
</div>

{% endblock content%}