{% extends "aquiestan.html" %}
{% load custom_tags %}
{% load static compress %}


{% block base_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{% endblock base_js %}
{% block content %}
{% compress css %}
    <link type="text/x-scss"
                rel="stylesheet"
                href="{% static 'css/hallazgos.scss' %}"/>
{% endcompress %}
<div style='display: none'>
{% for lat,lng, source_id, fecha, observaciones, modalidad_nombre, municipio__nombre, tipo, colectivo,contiene_imagenes in markers %}

    <div id="marker-info-{{ source_id }}" class="marker-info">
        <div class="marker-info-content">
            <div>
            <strong>Hallazgo ID: {{ source_id }} - {{ fecha }}</strong><p>Modalidad: {{ modalidad_nombre }}</p>
            <p>Tipo de Hallazgo: {{ tipo }}</p>
            <p>{{ observaciones }}</p>
            </div>
            <div id='marker-info-img-{{ source_id }}' class="carousel slide  carousel-fade" data-bs-ride="false">
                <div class='carousel-inner'>
                    {% for imagen, hallazgo__source_id in media|by_hallazgo:source_id %}
                        {% if hallazgo__source_id == source_id %}
                         <div class='carousel-item {% if forloop.first %}active{% endif %}'>
                            <img class="hallazgo-img w-100" src='/media/{{ imagen }}' />
                         </div>
                        {% endif %}
                        {% empty %}
                        <div class='carousel-item active sin-imagenes'>
                            <h5></h5>
                            <p>Sin im&aacute;genes.</p>
                         </div>
                    {% endfor %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#marker-info-img-{{ source_id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#marker-info-img-{{ source_id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                </div>
            </div>
        </div>
        <script>
            { new bootstrap.Carousel('#marker-info-img-{{ source_id }}');}
         </script>
    </div>
    
{% endfor %}
</div>
    <div class="hallazgos">
        <div class="ae-left">
            <div class="ae-fields">
                <div title="Solo aquellos hallazgos con información de ubicación se muestran en el mapa. La cantidad puede diferir debido a ello.">
                    <div>
                        <h4>
                            <span id="hallazgos_counter" class="ae-counter">{{ c|stringformat:"03d" }}</span>
                        </h4>
                    </div>
                    <div>
                        <h6>Hallazgos</h6>
                    </div>
                </div>
                <div>
                    <div>
                        <h4>
                            <span class="ae-counter">{{ colectivos | length |stringformat:"03d" }}</span>
                        </h4>
                    </div>
                    <div>
                        <h6>Colectivos colaboran</h6>
                    </div>
                </div>
            </div>
            <div class="ae-municipios-list">
                <div>
                    <h6>Municipios de Sonora con más registros de hallazgos</h6>
                </div>
                {% for municipio in municipiostop %}
                    <div>
                        <div>
                            <span>{{ municipio.municipio__nombre }}</span>

                        </div>
                        <div>
                            <span class="ae-bar">{{  municipio.c | avg:c }} </span>

                           <span class="ae-counter" style="font-style:italic"> {{ municipio.c }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <div>
                    <h6>Modalidad del hallazgo</h6>
                </div>
                <div class="ae-filter" title="Solo aquellos hallazgos con información de ubicación se muestran en el mapa. La cantidad puede diferir debido a ello.">
                    {% for m in modalidades %}
                        <div>
                            <div class="form-check">
                                <label class="form-check-label" for="id_check_{{ m.nombre }}_{{ forloop.counter }}">{{ m.modalidad__nombre }}</label>
                                <input type="checkbox"
                                       class="form-check-input"
                                       name="modalidades"
                                       value="{{ m.modalidad__nombre }}"
                                       id="{{ m.modalidad__nombre }}"
                                        />
                            </div>
                            <div class="form">
                                <span class="ae-counter">{{ m.c }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div>
                    <h6>Tipo de hallazgo</h6>
                </div>
                <div class="ae-filter">
                    {% for tipo in tipos %}
                        <div>
                            <div class="form-check">
                                <label class="form-check-label"
                                       for="id_check_{{ tipo.tipo }}{{ forloop.counter }}">{{ tipo.tipo }}</label>
                                <input type="checkbox"
                                       class="form-check-input"
                                       name="tipos"
                                       value="{{ tipo.tipo }}"
                                       id="{{ tipo.tipo }}"/>
                            </div>
                            <div class="form">
                                <span class="ae-counter">{{ tipo.c }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="ae-middle">
            <div class="ae-fields">
                <div>
                    <div>
                        <div>
                            <h6>Municipio</h6>
                        </div>
                        <div>
                            <select id="municipios_select" class="form-select" title="municipios">
                                <option value="0" default>
                                    Todos
                                </option>
                                {% for municipio in municipios %}
                                    <option>
                                        {{ municipio.municipio__nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h6>Colectivo <span class="hidden-600"> que realizó la búsqueda</span></h6>
                        </div>
                        <div>
                            <select id="colectivos-select" class="form-select" title="colectivos">
                                <option value="0" default>
                                    Todos
                                </option>
                                {% for id, colectivo in colectivos %}
                                    <option value="{{ id }}">
                                        {{ colectivo }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ae-control-map">
                <div id="floating-panel">
                    <input id="hide-markers" type="button" value="&#x1f4cd;" title="Ocultar / Mostrar todos los indicadores de hallazgo." />
                </div>
                <div id="map"></div>
                
                <div class="ae-control-map-legend">
                    <div>
                        <span>Registros de hallazgos</span>
                    </div>
                    <div>
                        <span>1 a 4</span>
                        <circle cx="10" cy="10" r="10" fill="#FF0000" />
                    </div>
                    <div>
                        <span>5 a 8</span>
                        <circle cx="20" cy="20" r="20" fill="#FF0000" />
                    </div>
                    <div>
                        <span>13 +</span>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <script>        
        window.initMap = function() {
            
            let sonora_center = new google.maps.LatLng(29.3955122,-111.7386465);
            let mapStyle = [
            {
                "featureType": "all",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#ff7000"
                    },
                    {
                        "lightness": "69"
                    },
                    {
                        "saturation": "100"
                    },
                    {
                        "weight": "1.17"
                    },
                    {
                        "gamma": "2.04"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#cb8536"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels",
                "stylers": [
                    {
                        "color": "#ffb471"
                    },
                    {
                        "lightness": "66"
                    },
                    {
                        "saturation": "100"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "gamma": 0.01
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "saturation": -31
                    },
                    {
                        "lightness": -33
                    },
                    {
                        "weight": 2
                    },
                    {
                        "gamma": 0.8
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "lightness": "-8"
                    },
                    {
                        "gamma": "0.98"
                    },
                    {
                        "weight": "2.45"
                    },
                    {
                        "saturation": "26"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 30
                    },
                    {
                        "saturation": 30
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "saturation": 20
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 20
                    },
                    {
                        "saturation": -20
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 10
                    },
                    {
                        "saturation": -30
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "saturation": 25
                    },
                    {
                        "lightness": 25
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "lightness": -20
                    },
                    {
                        "color": "#ecc080"
                    }
                ]
            }
        ];
        let map = new google.maps.Map(document.getElementById('map'), {
            center: sonora_center,
            zoom: 7,
            mapTypeId: 'terrain',
            radius: 30, 
            gradient: 'indigo',
            styles: mapStyle,
            disableDefaultUI: true,
        });
        var hidden = false;
        var markers =  [];
        document.querySelector('#colectivos-select').addEventListener('change', function(e){
            var filtered = 0;
            if(e.target.value === '0'){
                setMapOnAll(map);
                return;
            }
            
            // alert(modalidad.value);
            for (let i = 0; i < markers.length; i++) {
                try{    
                if(markers[i].colectivo === e.target.value){
                    markers[i].setMap(map);
                    filtered++;
                }
                else{
                    markers[i].setMap(null);
                }
            }
            catch{}
        }

        });
        document.querySelector('#municipios_select').addEventListener('change',
            function(e){
                var filtered = 0;
                if(e.target.value === '0'){
                    setMapOnAll(map);
                    return;
                }
                
                // alert(modalidad.value);
                for (let i = 0; i < markers.length; i++) {
                    try{    
                    if(markers[i].municipio === e.target.value){
                        markers[i].setMap(map);
                        filtered++;
                    }
                    else{
                        markers[i].setMap(null);
                    }
                }
                catch{}
                }
                //document.querySelector('#hallazgos_counter').innerHTML = filtered;
            });
        document.querySelectorAll('input[name=modalidades]').forEach(function(i){
            i.addEventListener('change',  function (e){
            var filtered = 0;
            // alert(modalidad.value);
            for (let i = 0; i < markers.length; i++) {
                try{
                let checked = document.querySelector('#' + markers[i].modalidad).checked;

                if(checked){
                    markers[i].setMap(map);
                    filtered++;
                }
                else{
                    markers[i].setMap(null);
                }
            }
            catch{}
            }
            //document.querySelector('#hallazgos_counter').innerHTML = filtered;
         })
        });
        document.querySelectorAll('input[name=tipos]').forEach(function(i){
            i.addEventListener('change',  function (e){
            var filtered = 0;
            // alert(modalidad.value);
            for (let i = 0; i < markers.length; i++) {
                try{
                let checked = document.querySelector('#' + markers[i].tipo).checked;

                if(checked){
                    markers[i].setMap(map);
                    filtered++;
                }
                else{
                    markers[i].setMap(null);
                }
            }
            catch{}
            }
            //document.querySelector('#hallazgos_counter').innerHTML = filtered;
         })
        });
        let infoWindows=[];

        function addInfoWindow(map, marker, message) {

            var infoWindow = new google.maps.InfoWindow({
                content: message,
                
            });
            infoWindows.push(infoWindow);

            google.maps.event.addListener(marker, 'click', function () {
                infoWindows.forEach(item => item.close());
                infoWindow.open(map, marker);
            });
            markers.push(marker);
        }
        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
            }
        }
        
        // Removes the markers from the map, but keeps them in the array.
        function hideMarkers() {
            if(hidden){
                setMapOnAll(map);
                hidden = false;
            }else{
                setMapOnAll(null);
                hidden = true;
            }
        }
        document
        .getElementById("hide-markers")
        .addEventListener("click", hideMarkers);
            let latlng = [];
            {% for lat,lng, source_id, fecha, observaciones, modalidad_nombre, municipio__nombre, tipo, colectivo,contiene_imagenes in markers %}
                {% if lat != '0' and lng != '0' %}
                    latlng.push(new google.maps.LatLng({{ lat }},{{ lng }}));
                    {
                        addInfoWindow(map,new google.maps.Marker(
                            {
                                position: new google.maps.LatLng({{ lat }},{{ lng }}), 
                                map: map, 
                                colectivo: '{{ colectivo }}',
                                modalidad: '{{ modalidad_nombre }}',
                                municipio:'{{ municipio__nombre }}',
                                tipo:'{{ tipo }}',
                                {% if contiene_imagenes %}
                                icon: '{% static "assets/file-richtext.png" %}',
                                {% else %}
                                icon: '{% static "assets/file-text.png" %}',
                                {% endif %}
                                title: '{{ fecha }} - {{ source_id }}',
                            }), document.getElementById('marker-info-{{ source_id }}'));
                        
                    }

                {% endif %}
            {% endfor %}
           var heatmap = new google.maps.visualization.HeatmapLayer({
                data: latlng
            });
            heatmap.setMap(map);
            const gradient = [
            "rgba(0, 255, 255, 0)",
            "rgba(0, 255, 255, 1)",
            "rgba(0, 191, 255, 1)",
            "rgba(0, 127, 255, 1)",
            "rgba(0, 63, 255, 1)",
            "rgba(0, 0, 255, 1)",
            "rgba(0, 0, 223, 1)",
            "rgba(0, 0, 191, 1)",
            "rgba(0, 0, 159, 1)",
            "rgba(0, 0, 127, 1)",
            "rgba(63, 0, 91, 1)",
            "rgba(127, 0, 63, 1)",
            "rgba(191, 0, 31, 1)",
            "rgba(255, 0, 0, 1)",
          ];
        
          heatmap.set("gradient", heatmap.get("gradient") ? null : gradient);
        }
        var script = document.createElement('script');
                        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBMNYIMXh8pN508HSMPfPVrGEO5l39CdrQ&libraries=visualization&callback=initMap';
                        script.async = true;
                        document.head.appendChild(script);
    </script>
{% endblock content %}
