{% extends "aquiestan.html" %}
{% load month_tags %}
{% load static %}
{% block base_js %}
    <script src="{% static 'js/geoToPixel.js' %}"></script>

{% endblock base_js %}
{% block content %}
    <div class="hallazgos">
        <div class="ae-left">
            <div>
                <div>
                    <h6>Municipio</h6>
                </div>
                <div>
                    <select id="municipios_select" class="form-select" title="municipios">
                        <option value="0" default>
                            Todos
                        </option>
                        {% for municipio in municipios %}
                            <option>
                                {{ municipio.municipio__nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <h6>Modalidad del hallazgo</h6>
                </div>
                <div class="ae-filter" title="Solo aquellos hallazgos con información de ubicación se muestran en el mapa. La cantidad puede diferir debido a ello.">
                    {% for m in modalidades %}
                        <div>
                            <div class="form-check">
                                <label class="form-check-label" for="id_check_{{ m.nombre }}_{{ forloop.counter }}">{{ m.modalidad__nombre }}</label>
                                <input type="checkbox"
                                       class="form-check-input"
                                       name="modalidades"
                                       value="{{ m.modalidad__nombre }}"
                                       id="{{ m.modalidad__nombre }}"
                                        />
                            </div>
                            <div class="form">
                                <span class="ae-counter">{{ m.c }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div>
                    <h6>Tipo de hallazgo</h6>
                </div>
                <div class="ae-filter">
                    {% for tipo in tipos %}
                        <div>
                            <div class="form-check">
                                <label class="form-check-label"
                                       for="id_check_{{ tipo.tipo }}{{ forloop.counter }}">{{ tipo.tipo }}</label>
                                <input type="checkbox"
                                       class="form-check-input"
                                       name="tipos"
                                       value="{{ tipo.tipo }}"
                                       id="tipo.tipo"/>
                            </div>
                            <div class="form">
                                <span class="ae-counter">{{ tipo.c }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ae-middle">
            <div class="ae-fields">
                <div>
                    <div>
                        <div>
                            <h6>Colectivo que realizó la búsqueda</h6>
                        </div>
                        <div>
                            <select class="form-select" title="colectivos">
                                <option value="0" default>
                                    Todos
                                </option>
                                {% for colectivo in colectivos %}
                                    <option>
                                        {{ colectivo }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h6>Mes</h6>
                        </div>
                        <div>
                            <select class="form-select" title="meses">
                                <option value="0" default>
                                    Todos
                                </option>
                                {% for mes in meses %}
                                    <option value="{{ mes }}">
                                        {{ mes | month_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h6>Año</h6>
                        </div>
                        <div>
                            <select class="form-select" title="años">
                                <option value="0" default>
                                    Todos
                                </option>
                                {% for i in anos %}
                                    <option value="{{ i }}">
                                        {{ i }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ae-control-map">
                <div id="floating-panel">
                    <input id="hide-markers" type="button" value="&#x1f4cd;" />
                </div>
                <div id="map"></div>
                
                <div class="ae-control-map-legend">
                    <div>
                        <span>Registros de hallazgos</span>
                    </div>
                    <div>
                        <span>1 a 4</span>
                        <circle cx="10" cy="10" r="10" fill="#FF0000" />
                    </div>
                    <div>
                        <span>5 a 8</span>
                        <circle cx="20" cy="20" r="20" fill="#FF0000" />
                    </div>
                    <div>
                        <span>13 +</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ae-right">
            <div class="ae-fields">
                <div title="Solo aquellos hallazgos con información de ubicación se muestran en el mapa. La cantidad puede diferir debido a ello.">
                    <div>
                        <h4>
                            <span id="hallazgos_counter" class="ae-counter">{{ c }}</span>
                        </h4>
                    </div>
                    <div>
                        <h6>Hallazgos</h6>
                    </div>
                </div>
                <div>
                    <div>
                        <h4>
                            <span class="ae-counter">{{ colectivos | length }}</span>
                        </h4>
                    </div>
                    <div>
                        <h6>Colectivos olaboran</h6>
                    </div>
                </div>
            </div>
            <div class="ae-municipios-list">
                <div>
                    <h6>Municipios de Sonora con más registros de hallazgos</h6>
                </div>
                {% for municipio in municipiostop %}
                    <div>
                        <div>
                            <span>{{ municipio.municipio__nombre }}</span>
                        </div>
                        <div>
                            <span>{{ municipio.c }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
 
        window.initMap = function() {
            
            let sonora_center = new google.maps.LatLng(29.3955122,-111.7386465);
        let map = new google.maps.Map(document.getElementById('map'), {
            center: sonora_center,
            zoom: 7,
            mapTypeId: 'terrain',
            radius: 30, 
            gradient: 'indigo'
        });
        var hidden = false;
        var markers =  [];
        document.querySelector('#municipios_select').addEventListener('change',
            function(e){
                var filtered = 0;
                if(e.target.value === '0'){
                    setMapOnAll(map);
                    return;
                }
                
                // alert(modalidad.value);
                for (let i = 0; i < markers.length; i++) {
                    try{    
                    if(markers[i].municipio === e.target.value){
                        markers[i].setMap(map);
                        filtered++;
                    }
                    else{
                        markers[i].setMap(null);
                    }
                }
                catch{}
                }
                //document.querySelector('#hallazgos_counter').innerHTML = filtered;
            });
        document.querySelectorAll('input[name=modalidades]').forEach(function(i){
            i.addEventListener('change',  function (e){
            var filtered = 0;
            // alert(modalidad.value);
            for (let i = 0; i < markers.length; i++) {
                try{
                let checked = document.querySelector('#' + markers[i].modalidad).checked;

                if(checked){
                    markers[i].setMap(map);
                    filtered++;
                }
                else{
                    markers[i].setMap(null);
                }
            }
            catch{}
            }
            //document.querySelector('#hallazgos_counter').innerHTML = filtered;
         })
        });
        document.querySelectorAll('input[name=tipos]').forEach(function(i){
            i.addEventListener('change',  function (e){
            var filtered = 0;
            // alert(modalidad.value);
            for (let i = 0; i < markers.length; i++) {
                try{
                let checked = document.querySelector('#' + markers[i].tipo).checked;

                if(checked){
                    markers[i].setMap(map);
                    filtered++;
                }
                else{
                    markers[i].setMap(null);
                }
            }
            catch{}
            }
            //document.querySelector('#hallazgos_counter').innerHTML = filtered;
         })
        });
        let infoWindows=[];

        function addInfoWindow(map, marker, message) {

            var infoWindow = new google.maps.InfoWindow({
                content: message,
                
            });
            infoWindows.push(infoWindow);

            google.maps.event.addListener(marker, 'click', function () {
                infoWindows.forEach(item => item.close());
                infoWindow.open(map, marker);
            });
            markers.push(marker);
        }
        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
            }
        }
        
        // Removes the markers from the map, but keeps them in the array.
        function hideMarkers() {
            if(hidden){
                setMapOnAll(map);
                hidden = false;
            }else{
                setMapOnAll(null);
                hidden = true;
            }
        }
        document
        .getElementById("hide-markers")
        .addEventListener("click", hideMarkers);
            let latlng = [];
            {% for lat,lng, source_id, fecha, observaciones, modalidad_nombre, municipio__nombre, tipo in markers %}
                {% if lat != '0' and lng != '0' %}
                    latlng.push(new google.maps.LatLng({{ lat }},{{ lng }}));
                    {
                        addInfoWindow(map,new google.maps.Marker(
                            {
                                position: new google.maps.LatLng({{ lat }},{{ lng }}), 
                                map: map, 
                                modalidad: '{{ modalidad_nombre }}',
                                municipio:'{{ municipio__nombre }}',
                                tipo:'{{ tipo }}',
                                title: '{{ fecha }} - {{ source_id }}',
                            }), '<div class="marker-info"><strong>Hallazgo ID: {{ source_id }} - {{ fecha }}</strong><p>Modalidad: {{ modalidad_nombre }}</p><p>Tipo de Hallazgo: {{ tipo }}</p> <p>{{ observaciones }}</p></div>');
                    }
                {% endif %}
            {% endfor %}
           var heatmap = new google.maps.visualization.HeatmapLayer({
                data: latlng
            });
            heatmap.setMap(map);
        }
        
        var script = document.createElement('script');
                        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBMNYIMXh8pN508HSMPfPVrGEO5l39CdrQ&libraries=visualization&callback=initMap';
                        script.async = true;
                        document.head.appendChild(script);
    </script>
{% endblock content %}
