@import 'style.scss';
.plugin-blog{
    .blog-latest-entries{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        article{
            &:first-child{
                margin-right: 1vw;
            }
            margin-top: 2vh;
            /* cajita gris */
            flex: 50%;
            max-width: 33vw;
            max-height: 15vh;
            overflow: hidden;
            background-color: #5b5b5bf0;
            border-radius: 2vw;
            padding: 1em 1em;
            header{
                h3{
                    font-size: x-large;
                    font-weight: normal;
                    a{text-decoration: none;}
                }
                h4{
                    font-size: large;
                    font-weight: normal;
                }
            }
        }
        article:nth-child(3n){
            flex: 100%;
            max-width: 67vw;
            max-height: 30vh;
            background-color: black;
            color: $color-amarillo-light;
            border-radius: 3vw;
            header{
                h3{
                    a{
                        color: $color-amarillo-light;
                        text-decoration: none;
                    
                    }
                    font-size: xx-large;
                    font-weight: normal;
                    padding-top: 1vh;
                }
                h4{
                    font-size: x-large;
                    font-weight: normal;
                }
            }
        }
    }
}