@import 'style.scss';
.blog-list{
    display: flex;
    background-color: $color-text-bg;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4rem;
    article:first-of-type{
        width: 40%;
        margin-left: 0;
        background-color: #B79D64;
    }
    article{
        position: relative;
        width: 20%;
        border-radius: 30px;
        background-color: $color-dark;
        margin:1rem;
        padding:1rem;
        header{
            h3{
                a{
                    color: black;
                    font-size: 16pt;
                    font-weight: 600;
                    text-decoration: none;
                }
                
                
            }
            h4{
                color:black;
                font-size: 12pt;
            }
            .post-detail{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: black;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .blog-lead{
            display: none;
        }
        footer{
            display: block;
            position: absolute;
            bottom: 1em;
            right: 1em;
            text-align: right;
            a{
                text-decoration: none;
                color:black;
            }
        }
    }
    > header{
        width: 100%;
       h2{
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
    }
}
.plugin-blog{
    .blog-latest-entries{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 50vw;
        article{
            footer, .blog-visual, .blog-lead{
                display: none;
            }
            &:first-child{
                margin-right: 1vw;
            }
            opacity: .8;
            margin-top: 2vh;
            /* cajita gris */
            flex: 50%;
            max-width: 24vw;
            max-height: 15vh;
            overflow: hidden;
            background-color: #5b5b5bf0;
            border-radius: 2vw;
            padding: 2em;
            header{
                ul{
                    margin: 0;
                    margin-block: 0;
                    padding-inline-start: 0;
                        &.post-detail{
                            &.tags{
                                display: none;
                            }
                            li{
                                &:last-child{
                            
                                    display: none;
                                }
                                list-style: none;
                                color: $color-text-white;
                                a{
                                    display: inline-block;
                                    text-transform: capitalize;
                                    text-decoration: none;
                                }
                            }
                        
                    }
                }
                h3{
                    font-size: x-large;
                    font-weight: normal;
                    a{
                        display: inline-block;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                        text-decoration: none;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                                line-clamp: 2; 
                        -webkit-box-orient: vertical;
                    }
                  
                }
                h4{
                    display: none;
                    font-size: large;
                    font-weight: normal;
                }
            }
        }
        article:nth-child(3n){
            flex: 100%;
            max-width: 50vw;
            max-height: 30vh;
            background-color: black;
            color: $color-amarillo;
            border-radius: 3vw;
            padding: 2.5em 2em 3.5em 2em;
            
            header{
                ul.post-detail{
                    
                        li{
                            opacity: .5;
                            color: $color-amarillo;
                            a{
                                color: $color-amarillo;
                            }
                        }
                    
                }
                h3{
               
                    a{
                        display: inline-block;

                        color: $color-amarillo;                    
                    }
                    font-size: xx-large;
                    font-weight: normal;
                    padding-top: 1vh;
                }
                h4{
                    display: initial;
                    font-size: x-large;
                    font-weight: normal;
                }
            }
        }
    }
}