.hallazgos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #C8C1B0;
    height: 95vh;
    width: 100vw;
    padding: 10px;
    >div{
        padding:10px;
    }
    .ae-left {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 640px){

    div.hallazgos{
        flex-direction: column;
        .ae-middle{
            .ae-control-map{
                height: unset;
            }
        }
        .ae-municipios-list > div{
            flex-direction: column;
        }
    }
    .ae-control-map {
        width: unset;
    }    
    .hallazgos{
        height: unset;
    }
    .hidden-600{
        display: none;
    }
}