$font-family-serif: 'Atkinson Hyperlegible', sans-serif;
$font-family-monospace: 'Atkinson Hyperlegible', sans-serif;
$color-black: #000000;
$color-dark: #C8C1B0; /*forrest green*/
$color-dark-a: #bd9e5a7e; /*forrest green*/
$color-amarillo: #FED138;
$color-amarillo-light: #EFFB9F;
$color-text-white: #E4E0D7; /* goldenrod*/
$color-light: #D7F53B; /* Amarillo-naranja */
$color-text-bg: #F8F7EE;

:root {
    --font-family-sans-serif: 'Atkinson Hyperlegible', sans-serif;
    --font-family-sans-monospace: $font-family-serif;
    --bs-font-sans-serif: 'Atkinson Hyperlegible', sans-serif;
}
.ae-marker{
    position:absolute;

}
.hallazgos .ae-middle {
    display: flex;
    flex-direction: column;
}

.ae-middle .ae-fields {
    display: flex;
    flex-direction: column;

}
.logo-menu{
    height: 58px;
}
.ae-middle .ae-fields>div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    >div:not(:last-of-type){padding-right: 5px;}
}

.hallazgos option,
.hallazgos label {
    font-size: small;
}
article.post-item{
    padding: 2em;
}
.hallazgos .ae-left {
    display: flex;
    flex-direction: column;
}
.hallazgos .ae-left .ae-fields{
    display: flex;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;
    h4{
        font-size: xx-large;
    }
    h6{ font-size: large;
        font-weight: normal;
    }
}
.hallazgos .ae-left .ae-fields > div {
    display: flex;
    flex-direction: row;
        margin: .2em;
    border-radius: 15px;
    background-color: #FED13899;
    padding: 10px;
    align-items: center;
}
.hallazgos .ae-left .ae-fields > div >div{
    margin: 5px;
}
.hallazgos .ae-left .ae-fields > div:last-child {
    background-color: #ADA188;
}
.ae-left>div:not(:first-child) {
    padding: 10px;
    top: 257px;
    background: var(--unnamed-color-e4e0d7) 0% 0% no-repeat padding-box;
    background: #E4E0D7 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;

}

.ae-municipios-list{
    display:flex;
    flex-direction: column;
    background-color: #5B5B5B !important;
    border-radius: 10px;
    color: white;
    span.ae-bar, span.ae-counter{
        color:$color-amarillo;
    }
    padding: 20px;
    h6{
        font-weight: bold;
    }
}

.ae-municipios-list >div{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .2em;
    padding: 0 10px;
}
div.hallazgos>div[class*="ae-"]>div {
    margin-bottom: 1em;
}

.ae-fields.map-container {
    display: flex;
}

.ae-control-map-legend {
    display: flex;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}
.marker-info-content{
    display: flex;
    flex-direction: row;
}
.marker-info-content>div{
    width: 50% !important;
    padding: 5px;
}

.carousel-inner{
    height: 100%;
    background-color: #5B5B5B;
}
.carousel-item{
    text-align: center;
    width: 100%;
}
.hallazgo-img{
    max-height: 40vh !important;
}
.ae-control-map {
    width: 50vw;
    height: 100%;
    padding-bottom: 0;
    position: relative;
}
.sin-imagenes{
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    flex: 1;
    border-radius: 15px;

}

.ae-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}

.ae-filter>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carousel-item{
    max-width: 100%;
}
.ae-filter>div>div:first-child {
    margin-right: 10px;
}
    
.ae-counter {
    font-style: italic;
}

h6 {
    font-weight: bold;
}

/* general.scss */
html, body {
    font-family: var(--font-family-sans-serif);
}
body {
    background-color: $color-dark;
    color: $color-black;
    height: 100vh;
}
main {
    padding: 2rem 0;
}
img {
    max-width: 100%;
}
a {
    color: $color-text-white;
    transition: all .2s ease-in-out;

    &:hover {
        color: $color-dark;
    }
}
/* menu */
#navbarSupportedContent{
    ul{
        width: 100%;
        justify-content: flex-end;
        li{
            a{
                span{
                    color: $color-amarillo-light;
                }
            }
        }
    }
}
#map{
    height: 100%;
}
#floating-panel {
    display:none;
    position: absolute;
    top: 55px;
    right: 7px;
    z-index: 5;
    background-color: transparent;
    padding: 5px;
    border: none;
    text-align: center;

    #hide-markers{
        font-size: x-large;
        background-color: $color-amarillo;
        border-top: none;
        border-left: none;
    }
}


/*
blog.scss
*/
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    background-color: #b79d646a;
    border-radius: 10px;

}
#navbarSupportedContent ul{
    justify-content: end;
}
.blog-list{
    display: flex;
    background:linear-gradient(#C8C1B0, #bd9e5a7e);  width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4rem;
    article{
        position: relative;
        width: 30%;
        border-radius: 30px;
        background-color: antiquewhite;
        margin:1rem;
        padding:2rem 1.5rem;
        padding-bottom: 3rem;
        header{
            h3{
                a{
                    color: black;
                    font-size: 16pt;
                    font-weight: 600;
                    text-decoration: none;
                }
                
                
            }
            h4{
                color:black;
                font-size: 12pt;
            }
            .post-detail{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: black;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .blog-lead{
            display: none;
        }
        footer{
            display: block;
            position: absolute;
            bottom: 1em;
            right: 1em;
            text-align: right;
            a{
                text-decoration: none;
                color:black;
            }
        }
    }
    > header{
        width: 100%;
       h2{
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
    }
}

.plugin-blog{
    .blog-latest-entries{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: end;
        align-items: end;
        max-width: 50vw;

        article{
            footer, .blog-visual, .blog-lead{
                display: none;
            }
            &:first-child{
                margin-right: 1vw;
            }
            opacity: .8;
            margin-top: 2vh;
            /* cajita gris */
            flex: 50%;
            max-width: 24vw;
            max-height: 15vh;
            overflow: hidden;
            background-color: #5b5b5bf0;
            border-radius: 2vw;
            padding: 2em;
            header{
                ul{
                    margin: 0;
                    margin-block: 0;
                    padding-inline-start: 0;
                        &.post-detail{
                            &.tags{
                                display: none;
                            }
                            li{
                                &:last-child{
                            
                                    display: none;
                                }
                                list-style: none;
                                color: $color-text-white;
                                a{
                                    display: inline-block;
                                    text-transform: capitalize;
                                    text-decoration: none;
                                }
                            }
                        
                    }
                }
                h3{
                    font-size: large;
                    font-weight: normal;
                    a{
                        display: inline-block;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                        text-decoration: none;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                                line-clamp: 2; 
                        -webkit-box-orient: vertical;
                    }
                  
                }
                h4{
                    display: none;
                    font-size: large;
                    font-weight: normal;
                }
            }
        }
        article:nth-child(2n){
            flex: 100%;
            max-width: 50vw;
            max-height: 50vh;
            background-color: black;
            color: $color-amarillo;
            border-radius: 3vw;
            padding: 2.5em 2em 3.5em 2em;
            
            header{
                ul.post-detail{
                    
                        li{
                            opacity: .5;
                            color: $color-amarillo;
                            a{
                                color: $color-amarillo;
                            }
                        }
                    
                }
                h3{
               
                    a{
                        display: inline-block;

                        color: $color-amarillo;                    
                    }
                    font-size: xx-large;
                    font-weight: normal;
                    padding-top: 1vh;
                }
                h4{
                    display: initial;
                    font-size: x-large;
                    font-weight: normal;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .hidden-mobile{
        display: none;
    }
    .blog-list{
    flex-direction: column;
    padding: 1rem;
    }
    .blog-list article{
        width: unset;
    }
    .el-car{
        width: auto !important;
        height: 100% !important;
        
    }
    .plugin-blog{
        .blog-latest-entries{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            max-width: unset;
        }
    }
    .plugin-blog .blog-latest-entries article:nth-child(2n) {
        max-width: unset;
        padding: 1em;
    }
    .plugin-blog .blog-latest-entries article{
        max-width: unset;
        max-height: unset;

    }
    .plugin-blog .blog-latest-entries article:nth-child(3n){
        max-width: 95vw;
        max-height: unset;
    }
    .plugin-blog .blog-latest-entries article:nth-child(3n) header h3{
        font-size: large;
    }
    #map{
        height: 70vh;
        width: 100%;
    }
    .marker-info-content{
        flex-direction: column;
    }
    .marker-info-content>div{
        width: 100% !important;
    }
}
.logo-menu{
    height: 40px;
}