$font-family-serif: 'Atkinson Hyperlegible', sans-serif;
$font-family-monospace: 'Atkinson Hyperlegible', sans-serif;
$color-black: #000000;
$color-dark: #C8C1B0; /*forrest green*/
$color-dark-a: #bd9e5a7e; /*forrest green*/
$color-amarillo-light: #FED138;
$color-medium: #E4E0D7; /* goldenrod*/
$color-light: #D7F53B; /* Amarillo-naranja */
$color-text-bg: #F8F7EE;
$color-item: #EFFB9F;

:root {
    --font-family-sans-serif: 'Atkinson Hyperlegible', sans-serif;
    --font-family-sans-monospace: $font-family-serif;
    --bs-font-sans-serif: 'Atkinson Hyperlegible', sans-serif;
}

.hallazgos {
    display: flex;
    flex-direction: row;
    background-color: #C8C1B0;
    height: 95vh;
    width: 100vw;
    padding: 10px;
}
.ae-marker{
    position:absolute;

}
.hallazgos .ae-left {
    flex: .3;
    display: flex;
    flex-direction: column;
}

.hallazgos .ae-middle {
    display: flex;
    flex-direction: column;
}

.ae-middle .ae-fields {
    display: flex;
    flex-direction: column;
}

.ae-middle .ae-fields>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hallazgos option,
.hallazgos label {
    font-size: small;
}

.hallazgos .ae-right {
    display: flex;
    flex-direction: column;
}
.hallazgos .ae-right .ae-fields{
    display: flex;
    flex-direction: row;
}
.hallazgos .ae-right .ae-fields > div {
    display: flex;
    flex-direction: row;
        margin: .2em;
    border-radius: 10px;
    background-color: #FED13899;
    padding: 10px;
        align-items: center;
}
.hallazgos .ae-right .ae-fields > div >div{
    margin: 5px;
}
.hallazgos .ae-right .ae-fields > div:last-child {
    background-color: #ADA188;
}

.ae-municipios-list{
    display:flex;
    flex-direction: column;
    background-color: #5B5B5B;
    border-radius: 10px;
    color: white;
}
.ae-municipios-list > div:first-child{
    padding: 10px;
}
.ae-municipios-list >div{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .2em;
    padding: 0 10px;
}
div.hallazgos>div[class*="ae-"]>div {
    margin-bottom: 1em;
}

.ae-fields.map-container {
    display: flex;
}

.ae-control-map-legend {
    display: flex;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.ae-control-map {
    width: 100%;
    height: 40vh;
    padding: 2em;
    padding-bottom: 0;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    flex: 1;
}

.ae-left>div:not(:first-child) {
    padding: 10px;
    top: 257px;
    background: var(--unnamed-color-e4e0d7) 0% 0% no-repeat padding-box;
    background: #E4E0D7 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;

}

.ae-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}

.ae-filter>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ae-filter>div>div:first-child {
    margin-right: 10px;
}
    
.ae-counter {
    font-style: italic;
}

h6 {
    font-weight: bold;
}

/* general.scss */
html, body {
    font-family: var(--font-family-sans-serif);
}
body {
    padding-top: 3.5rem;
    background-color: $color-dark;
    color: $color-black;
}
main {
    padding: 2rem 0;
}
img {
    max-width: 100%;
}
a {
    color: $color-medium;
    transition: all .2s ease-in-out;

    &:hover {
        color: $color-dark;
    }
}